.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 5px; */
    margin: 5px 5px 5px 0;
    font-size: 15px;
    font-weight: 700;
}

.button {
    width: 80px;
    text-align: center;
    margin-left: 18px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(255, 72, 59);
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 72, 59);
    border: 1px solid rgb(255, 72, 59);
}